@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: #f7ab0a;
		--background: #242424;
	}
}

@layer components {
	.heroButton {
		@apply px-4 py-2 m-1 border border-zinc-700 rounded-full uppercase text-xs tracking-widest text-gray-300 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40;
	}

	.contactInput {
		@apply outline-none bg-slate-400/10 rounded-sm border-b px-5 py-2 border-[#242424] text-white placeholder-gray-400 transition-all focus:border-gray-500 focus:text-white hover:border-gray-500;
	}

	.section-title {
		@apply uppercase tracking-[20px] text-gray-500 text-2xl text-center;
	}

	.section-subtitle {
		@apply uppercase tracking-[3px] text-gray-500 text-sm text-center mt-4;
	}

	.section-container {
		@apply relative min-h-screen flex flex-col items-center justify-start 
			   px-4 md:px-10 mx-auto max-w-7xl;
	}

	.section-header {
		@apply w-full sticky top-0 bg-[rgb(36,36,36)] pt-24 pb-8 z-10;
	}

	.section-content {
		@apply w-full flex-grow flex items-center justify-center py-8;
	}

	.scrollable-content {
		@apply max-h-[300px] md:max-h-[400px] 
			   overflow-y-auto 
			   scrollbar-thin scrollbar-track-gray-400/20 scrollbar-thumb-[#F7AB0A]/80 
			   pr-4;
	}
}
I html {
	scroll-behavior: smooth;
}
